@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';

    src: url('../fonts/montserrat-bold-webfont.woff') format('woff'), url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Regular';

    src: url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';

    src: url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';

    src: url('../fonts/icomoon.ttf?v1966g') format('truetype'), url('../fonts/icomoon.woff?v1966g') format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
    /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-size: 0;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.icon:after {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  content: '';
  pointer-events: none;
  border-radius: 50%;
}

.icon:before {
  font-family: 'icomoon';
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.icon-youtube:before {
  content: '\e907';
}

.icon-vote:before {
  content: '\e906';
}

.icon-instagram:before {
  content: '\e900';
}

.icon-king-of-fame:before {
  content: '\e901';
}

.icon-share-ico:before {
  content: '\e902';
}

.icon-twitter:before {
  content: '\e903';
}

.icon-facebook:before {
  content: '\e904';
}

.icon-heart-like:before {
  content: '\e905';
}

html,
body {
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
  height: 100%;
  color: #f5f5f5;
  background: #1c1c1c url('../img/background.jpg') no-repeat center top;
}

body {
  min-height: 100%;
}

main {
  padding: 1em 15px;
}

section {
  margin: 3em auto;
}

a {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-transform: uppercase;
  color: #d1aa03;
}

a:hover,
a:focus {
  color: #d1aa03;
}

img.w100 {
  width: 100%;
  height: auto;
}

p {
  margin: 1em 0 2em;
}

p.link-initial {
  color: #999;
}

p.link-initial a {
  text-decoration: underline;
  text-transform: none;
  color: #fff;
}

p.link-initial a:hover,
p.link-initial a:focus {
  color: #d1aa03;
}

.title-next {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 1.857rem;
  display: inline-block;
  margin: -2em 0 2em;
}

/*********** Buttons ***********/
.btn {
  font-family: 'Montserrat Bold', Helvetica, Arial, sans-serif;
  font-size: 1.429rem;
  line-height: 1;
  padding: 1em 3em;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-radius: 100em;
}

.btn:hover {
  text-decoration: none;
}

.btn-default {
  color: #fff;
  border-color: #fff;
  background: none;
}

.btn-default:hover,
.btn-default:focus {
  color: #d1aa03;
  border-color: #d1aa03;
}

.btn-white {
  color: #2c2c2c;
  border-color: #fff;
  background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  color: #2c2c2c;
}

.btn-dark {
  color: #d1aa03;
  border: none;
  background-color: #2c2c2c;
}

.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
}

.btn-gold {
  color: #fff;
  border-color: #d1aa03;
  background-color: #d1aa03;
}

.btn-gold:hover,
.btn-gold:focus {
  color: #fff;
}

.btn-shine {
  position: relative;
  color: #fff;
  border-color: #fff;
  background: none;
}

.btn-shine:after {
  position: absolute;
  top: -34px;
  right: -21px;
  display: inline-block;
  width: 59px;
  height: 83px;
  content: '';
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  -webkit-transform: scale(0) rotate(0deg);
          transform: scale(0) rotate(0deg);
  opacity: 0;
  background: url('../img/bling.png') center center/cover;
}

.btn-shine:hover,
.btn-shine:focus {
  -webkit-animation: Shine .75s linear;
          animation: Shine .75s linear;
  color: #fff;
  border: none;
  background: -webkit-linear-gradient(330deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  background-position: 0 -75%;
  background-size: 100% 1000%;
}

.btn-shine:hover:after,
.btn-shine:focus:after {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
  opacity: 1;
}

@-webkit-keyframes Shine {
  0% {
    background-position: 0 100%;
  }

  25% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 -75%;
  }
}

@keyframes Shine {
  0% {
    background-position: 0 100%;
  }

  25% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 -75%;
  }
}

.text-center {
  text-align: center;
}

.add-border-before:before {
  position: relative;
  display: block;
  width: 47px;
  height: 3px;
  margin-top: 2em;
  margin-bottom: 2em;
  content: '';
  background: #f5f5f5;
}

.add-border-before.border-light:before {
  left: 50%;
  height: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bold {
  font-family: 'Montserrat Bold', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

.add-arrow-after:after {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 20px;
  content: '';
  background: url('../img/spritesheet.png') no-repeat -166px -5px;
}

@media (min-width: 992px) {
  main {
    padding: 5em 15px;
  }
}

.navbar {
  position: relative;
  background: none;
}

.navbar .navbar-brand {
  height: auto;
  margin-top: 23px;
}

.navbar .navbar-collapse {
  display: none;
}

.navbar .navbar-nav li {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar .navbar-nav li:last-of-type {
  font-family: 'Montserrat Bold', Helvetica, Arial, sans-serif;
}

.navbar .navbar-nav li a {
  padding: 15px 20px;
  color: #fff;
  background: none;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a.active {
  color: #d1aa03;
  background: none;
}

.navbar .navbar-toggle {
  position: absolute;
  right: 15px;
  margin: 26px 0;
  padding: 14px 10px;
  border: none;
}

.navbar .navbar-toggle .icon-bar {
  background: -webkit-linear-gradient(330deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
}

#login-pop-in {
  position: absolute;
  display: none;
  visibility: hidden;
}

#login-pop-in .form-control:focus {
  border: none;
  outline: initial;
  box-shadow: none;
}

#login-pop-in a {
  font-size: 80%;
  float: right;
  margin: -1em 0 1em;
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .navbar .navbar-collapse {
    display: block;
  }

  .navbar .navbar-nav {
    height: 96px;
  }

  .navbar .navbar-nav li {
    margin-top: 23px;
  }

  .navbar .navbar-nav.navbar-center li {
    position: relative;
  }

  .navbar .navbar-nav.navbar-center li:not(:last-child):after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 4px;
    height: 4px;
    content: '';
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url('../img/spritesheet.png') no-repeat -56px -5px;
  }

  .navbar .navbar-nav.navbar-right li:last-of-type {
    border-left: 1px solid #2c2c2c;
  }

  .navbar .navbar-nav.navbar-right li:last-of-type a {
    position: relative;
    padding-right: 75px;
    padding-left: 35px;
  }

  .navbar .navbar-nav.navbar-right li:last-of-type a:after {
    position: absolute;
    top: 5px;
    right: 15px;
    display: block;
    width: 41px;
    height: 41px;
    content: '';
    background: url('../img/spritesheet.png') no-repeat -5px -5px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  #login-pop-in {
    font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
    z-index: 100;
    top: 96px;
    right: 30px;
    visibility: visible;
    padding: 20px 30px 20px 20px;
    text-align: right;
    border: 1px solid transparent;
    -o-border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
       border-image: -webkit-linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
       border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
    border-image-slice: 1;
    background: -webkit-linear-gradient(330deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
    background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  }

  #login-pop-in label {
    display: none;
  }
}

#homepage-landing .right-column p {
  line-height: 2;
}

#homepage-live {
  padding-top: 0;
}

#homepage-modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, .5);
}

#homepage-modal #player-youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: SmoothClick .75s linear;
          animation: SmoothClick .75s linear;
}

@-webkit-keyframes SmoothClick {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes SmoothClick {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#candidats .left-column {
  background-image: url('../img/background-opacity.png'), url('../img/avatar/1.jpg');
  background-repeat: repeat, no-repeat;
  background-position: center center, center center;
  background-size: auto, cover;
}

#candidats .left-column img {
  position: relative;
  top: 3em;
  left: 50%;
  width: 70%;
  height: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1em solid #d1aa03;
  border-radius: 50%;
}

#candidats .left-column figcaption {
  position: relative;
  bottom: -5em;
  text-align: center;
}

#candidats .left-column .name {
  font-size: 2rem;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

#candidats .left-column .name.first {
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: #f5f5f5;
}

#candidats .left-column .name.last {
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #d1aa03;
}

#candidats .right-column .candidat-profil-description-top {
  padding: 40px;
  color: #777;
  background: #f5f5f5;
  box-shadow: inset 0 -40px 78px -7px rgba(0, 0, 0, .2);
}

#candidats .right-column .candidat-profil-description-top a {
  text-decoration: none;
}

#candidats .right-column .candidat-profil-description-top .icon-heart-like {
  font-size: 3.7rem;
  cursor: pointer;
  color: #d1aa03;
}

#candidats .right-column .candidat-profil-description-top .icon-heart-like:hover,
#candidats .right-column .candidat-profil-description-top .icon-heart-like:focus {
  -webkit-transition: all .3s;
  transition: all .3s;
}

#candidats .right-column .candidat-profil-description-top .like-me-a-lot {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  position: relative;
  bottom: 10px;
  padding-left: 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#candidats .right-column .candidat-profil-description-top .age {
  font-family: 'Montserrat Bold', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  position: relative;
  bottom: 10px;
  margin: 0 .5em;
  padding: 0 25px;
}

#candidats .right-column .candidat-profil-description-top .age span:last-of-type {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

#candidats .right-column .candidat-profil-description-top .country,
#candidats .right-column .candidat-profil-description-top .astro {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  position: relative;
  bottom: 10px;
  margin: 0 .5em;
}

#candidats .right-column .candidat-profil-description-top .country span:last-of-type,
#candidats .right-column .candidat-profil-description-top .astro span:last-of-type {
  font-size: 2rem;
  padding-left: 25px;
}

#candidats .right-column .candidat-profil-description-top .icon-facebook,
#candidats .right-column .candidat-profil-description-top .icon-twitter,
#candidats .right-column .candidat-profil-description-top .icon-youtube,
#candidats .right-column .candidat-profil-description-top .icon-instagram {
  font-size: 3rem;
  position: relative;
  top: 10px;
  margin: 5px;
  padding: .2em;
  color: #fff;
  border-radius: 50%;
}

#candidats .right-column .candidat-profil-description-top .icon-facebook {
  margin-left: 3.5em;
  background: #3a5897;
}

#candidats .right-column .candidat-profil-description-top .icon-facebook:hover,
#candidats .right-column .candidat-profil-description-top .icon-facebook:focus {
  background: #334d85;
}

#candidats .right-column .candidat-profil-description-top .icon-twitter {
  background: #00abed;
}

#candidats .right-column .candidat-profil-description-top .icon-twitter:hover,
#candidats .right-column .candidat-profil-description-top .icon-twitter:focus {
  background: #0099d4;
}

#candidats .right-column .candidat-profil-description-top .icon-youtube {
  background: #c6312c;
}

#candidats .right-column .candidat-profil-description-top .icon-youtube:hover,
#candidats .right-column .candidat-profil-description-top .icon-youtube:focus {
  background: #b12c27;
}

#candidats .right-column .candidat-profil-description-top .icon-instagram {
  background: #000;
}

#candidats .right-column .candidat-profil-description-top .icon-instagram:hover,
#candidats .right-column .candidat-profil-description-top .icon-instagram:focus {
  background: #0d0d0d;
}

#candidats .right-column .candidat-profil-description-bottom {
  padding: 40px;
  color: #777;
  background: #fff;
}

.rs-connect {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: none;
}

.rs-connect.rs-connect-fb {
  background: #3a5897;
}

.rs-connect.rs-connect-fb:hover {
  background: #2c4372;
}

.rs-connect.rs-connect-tw {
  background: #00acec;
}

.rs-connect.rs-connect-tw:hover {
  background: #0087b9;
}

#vote-activities h1 {
  margin-bottom: 2em;
}

#vote-activities h1 img {
  width: 80%;
}

#vote-activities .slider-activities .slick-list {
  padding-top: 50px;
}

#vote-activities .slider-activities .slick-list .slick-track {
  color: #2c2c2c;
}

#vote-activities .slider-activities .slick-list .slick-track .slick-slide {
  margin: 0;
  padding: 30px 15px;
  border: 3px solid transparent;
  border-top: none;
  -o-border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
     border-image: -webkit-linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
     border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  border-image-slice: 1;
  background: #fff;
}

#vote-activities .slider-activities .slick-list .slick-track .slick-slide button {
  font-size: 6rem;
  width: 10rem;
  height: 10rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(.8);
          transform: scale(.8);
  color: #999;
  border: none;
  background: none;
}

#vote-activities .slider-activities .slick-list .slick-track .slick-slide button:last-of-type {
  -webkit-transform: rotate(180deg) scale(.8);
          transform: rotate(180deg) scale(.8);
}

#vote-activities .slider-activities .slick-list .slick-track .slick-slide button:hover,
#vote-activities .slider-activities .slick-list .slick-track .slick-slide button:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #d1aa03;
}

#vote-activities .slider-activities .slick-list .slick-track .slick-slide button:hover:last-of-type,
#vote-activities .slider-activities .slick-list .slick-track .slick-slide button:focus:last-of-type {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

#vote-activities .slider-activities .slick-dots {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0;
  margin-left: -15px;
  padding: 0 15px;
}

#vote-activities .slider-activities .slick-dots li {
  display: inline-block;
  width: 25%;
}

#vote-activities .slider-activities .slick-dots li button {
  width: 100%;
  padding: 15px;
  border: initial;
  background: #2c2c2c;
}

#vote-activities .slider-activities .slick-dots li.slick-active button {
  background: -webkit-linear-gradient(330deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
}

#vote-activities .slider-activities .slick-dots li.slick-active button:hover,
#vote-activities .slider-activities .slick-dots li.slick-active button:focus {
  background: -webkit-linear-gradient(330deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
}

#vote-activities .slider-activities .slick-dots li:hover button,
#vote-activities .slider-activities .slick-dots li:focus button {
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #777;
}

#participe {
  padding-top: 0;
}

#participe img {
  width: 100%;
}

#candidates {
  padding: 0;
  padding-bottom: 5em;
}

#candidates .name {
  font-size: 0;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  opacity: 0;
}

#candidates .name.first {
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color: #f5f5f5;
}

#candidates .name.last {
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #2c2c2c;
}

#candidates img {
  width: 100%;
}

#candidates .no-padding {
  padding: 0;
}

#candidates .list-candidates {
  padding: 0 30px;
}

#candidates .list-candidates .overflow-hidden {
  overflow: hidden;
}

#candidates .list-candidates figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  border: 1px solid transparent;
}

#candidates .list-candidates figure.img-small-left {
  padding-left: 0;
}

#candidates .list-candidates figure.img-small-right {
  padding-right: 0;
}

#candidates .list-candidates figure img {
  width: 100%;
  height: auto;
}

#candidates .list-candidates figure figcaption {
  position: absolute;
  z-index: 100;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#candidates .list-candidates figure:hover .name,
#candidates .list-candidates figure:focus .name {
  font-size: 2.571rem;
  opacity: 1;
}

#candidates .list-candidates figure:hover:before,
#candidates .list-candidates figure:focus:before {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  content: '';
  -webkit-animation: SmoothOver .3s linear;
          animation: SmoothOver .3s linear;
  background: url('../img/background-hover.png') center center/cover;
}

@-webkit-keyframes SmoothOver {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes SmoothOver {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 0;
  }
}

@media (min-width: 768px) {
  #vote-activities h1 img {
    width: initial;
  }

  #candidates img,
    #participe img {
    width: initial;
  }
}

.btn-activities {
  display: block;
  padding: 15px 0;
  border: initial;
  border-radius: initial;
  background: none;
}

.btn-activities:hover,
.btn-activities.btn-success {
  color: black;
  background-color: #f1f1f1;
}

.btn-activities.active-nok {
  color: black;
  background-color: none;
}

#block-player {
  margin-top: -52px;
  padding-top: 52px;
}

#block-player #player-youtube {
  margin-bottom: 3em;
  padding-right: 0;
  padding-left: 0;
}

#block-player #aside-player {
  position: relative;
  min-height: 100%;
}

#block-player #aside-player .slide-candidates .candidate {
  margin: 1em auto;
  border-bottom: 1px solid #f5f5f5;
}

#block-player #aside-player .slide-candidates .candidate img {
  width: 80%;
  border: 4px solid #d1aa03;
  border-radius: 50%;
}

#block-player #aside-player .slide-candidates .candidate a span {
  text-transform: capitalize;
  color: #777;
}

#block-player #aside-player .slide-candidates .candidate .icon-heart-like,
#block-player #aside-player .slide-candidates .candidate .icon-share-ico {
  font-size: 1.7rem;
  cursor: pointer;
  color: #f15c5c;
}

#block-player #aside-player .slide-candidates .candidate .icon-heart-like:hover,
#block-player #aside-player .slide-candidates .candidate .icon-heart-like:focus,
#block-player #aside-player .slide-candidates .candidate .icon-share-ico:hover,
#block-player #aside-player .slide-candidates .candidate .icon-share-ico:focus {
  font-size: 1.9rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#block-player #aside-player .slide-candidates .candidate .icon-share-ico {
  margin-left: 15px;
  color: #2c2c2c;
}

#block-player #aside-player .slide-candidates .candidate .like-me-a-lot {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  position: relative;
  padding-left: 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #777;
}

#block-player #aside-player .slide-candidates .candidate .share-me-a-lot {
  font-size: 0;
}

#block-player #aside-player .slide-candidates .king-of-fame {
  position: relative;
}

#block-player #aside-player .slide-candidates .king-of-fame:after {
  position: absolute;
  top: 0;
  left: 34%;
  width: 28px;
  height: 21px;
  content: '';
  background: url('../img/king-of-fame.png');
}

#block-player #aside-player .slider-live-tweet-candidates {
  background: #fff;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-list {
  padding-top: 50px;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-dots {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-dots li {
  display: inline-block;
  width: 50%;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-dots li:first-of-type {
  border-right: 1px solid #f5f5f5;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-dots li button {
  width: 100%;
  padding: 15px;
  border: initial;
  background: #2c2c2c;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-dots li button:hover,
#block-player #aside-player .slider-live-tweet-candidates .slick-dots li button:focus {
  background: #777;
}

#block-player #aside-player .slider-live-tweet-candidates .slick-dots li.slick-active button {
  background: -webkit-linear-gradient(330deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
}

#block-player #aside-player .slider-live-tweet-candidates .slide-twitter-timeline iframe {
  width: 100% !important;
  height: 100% !important;
}

#block-player #aside-player .slider-live-tweet-candidates .slide-twitter-timeline iframe .timeline-Footer {
  display: none !important;
}

@media (min-width: 768px) {
  #block-player #player-youtube {
    margin-bottom: 3em;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.embed-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#connexion input[type='submit'],
#register input[type='submit'],
#participe-form input[type='submit'] {
  margin: 1em;
}

#connexion .input,
#register .input,
#participe-form .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  vertical-align: top;
}

#connexion .input__field,
#register .input__field,
#participe-form .input__field {
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
  position: relative;
  display: block;
  float: right;
  width: 100%;
  margin-top: 1em;
  padding: 1.7em 1em;
  color: #fff;
  border: none;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

#connexion .input__field[type='file'],
#register .input__field[type='file'],
#participe-form .input__field[type='file'] {
  padding: 3em 1em 1.7em;
}

#connexion .input__field:focus,
#register .input__field:focus,
#participe-form .input__field:focus {
  outline: none;
}

#connexion .input__label,
#register .input__label,
#participe-form .input__label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  float: right;
  width: 100%;
  height: calc(100% - 1.5em);
  padding: 0 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  pointer-events: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

#connexion .input__label:before,
#connexion .input__label:after,
#register .input__label:before,
#register .input__label:after,
#participe-form .input__label:before,
#participe-form .input__label:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  content: '';
  border-bottom: 1px solid #999;
}

#connexion .input__label:after,
#register .input__label:after,
#participe-form .input__label:after {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  border-bottom: 4px solid transparent;
  -o-border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
     border-image: -webkit-linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
     border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  border-image-slice: 1;
}

#connexion .input__label-content,
#register .input__label-content,
#participe-form .input__label-content {
  position: absolute;
  display: block;
  width: 100%;
  padding: 1.6em 0;
}

#connexion .input__field:focus + .input__label::after,
#connexion .input--filled .input__label::after,
#register .input__field:focus + .input__label::after,
#register .input--filled .input__label::after,
#participe-form .input__field:focus + .input__label::after,
#participe-form .input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#connexion .input__field:focus + .input__label .input__label-content,
#connexion .input--filled .input__label-content,
#register .input__field:focus + .input__label .input__label-content,
#register .input--filled .input__label-content,
#participe-form .input__field:focus + .input__label .input__label-content,
#participe-form .input--filled .input__label-content {
  -webkit-animation: animInput .3s forwards;
          animation: animInput .3s forwards;
}

@-webkit-keyframes animInput {
  50% {
    -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
    opacity: 0;
  }

  51% {
    -webkit-transform: translate3d(-1em, -40%, 0);
            transform: translate3d(-1em, -40%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
    opacity: 1;
  }
}

@keyframes animInput {
  50% {
    -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
    opacity: 0;
  }

  51% {
    -webkit-transform: translate3d(-1em, -40%, 0);
            transform: translate3d(-1em, -40%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
    opacity: 1;
  }
}

footer {
  padding: 25px 0;
  color: #f5f5f5;
  background: #d1aa03;
}

footer a {
  color: #f5f5f5;
}

footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #1c1c1c;
}

.contact-us {
  margin-top: 1em;
  text-align: center;
}

.contact-us .icon {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #d1aa03;
  box-shadow: 0 0 0 3px #f5f5f5;
}

.contact-us .icon:not(:first-of-type) {
  margin-left: 10px;
}

.contact-us .icon:after {
  z-index: -1;
  top: -2px;
  left: -2px;
  padding: 2px;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s, -webkit-transform .2s;
  background: #f5f5f5;
}

.contact-us .icon:hover,
.contact-us .icon:focus {
  color: #d1aa03;
}

.contact-us .icon:hover:after,
.contact-us .icon:focus:after {
  -webkit-transform: scale(.85);
          transform: scale(.85);
}

@media (min-width: 992px) {
  .contact-us {
    position: absolute;
    top: -9px;
    right: 15px;
    margin: 0;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .copyright {
    display: block;
    text-align: center;
  }
}

#error-404 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('https://media.giphy.com/media/GDsY57MvzDlBu/giphy.gif') center center/cover;
}

#error-404 .bloc-404 {
  padding: 1em;
  background-color: #d1aa03;
}

#error-404 .bloc-404 h1 {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
  color: #fff;
}

#error-404 .bloc-404 a {
  font-size: 1rem;
  position: relative;
  padding: .5em;
  color: #fff;
  border: 3px solid #fff;
}

#error-404 .bloc-404 a:hover,
#error-404 .bloc-404 a:focus {
  text-decoration: none;
  color: #999;
  border-color: #999;
}

@media (min-width: 768px) {
  #error-404 .bloc-404 {
    padding: 2em;
  }

  #error-404 .bloc-404 h1 {
    font-size: 3rem;
    margin-bottom: 1em;
  }

  #error-404 .bloc-404 a {
    font-size: 2rem;
    padding: .5em;
    border: 3px solid #fff;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #error-404 .bloc-404 {
    width: 100%;
  }
}

/*# sourceMappingURL=maps/main.css.map */
