/*#error-404 {
  background: url('https://media.giphy.com/media/GDsY57MvzDlBu/giphy.gif') center center / cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  .bloc-404 {
    background-color: $primary-color;
    padding: 1em;
    h1 {
      margin: 0;
      margin-bottom: 1em;
      font-size: 1rem;
      font-family: $fonts-title;
      color: $secondary-color;
    }
    a {
      position: relative;
      border: 3px solid $secondary-color;
      color: $secondary-color;
      font-size: 1rem;
      padding: .5em;
      &:hover,
      &:focus {
        border-color: $tertiary-color;
        color: $tertiary-color;
        text-decoration: none;
      }
    }
  }
  @media (min-width: 768px) {
    .bloc-404 {
    padding: 2em;
    h1 {
      margin-bottom: 1em;
      font-size: 3rem;
    }
    a {
      border: 3px solid $secondary-color;
      font-size: 2rem;
      padding: .5em;
    }
  }
  }
  @media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .bloc-404 {
  width: 100%;
}
  }
}*/