// Index 1 Concept
#homepage-landing {
  .right-column {
    p {
      line-height: 2;
    }
  }
}

#homepage-live {
  padding-top: 0;
}

// Register form RS Connect
.rs-connect {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  transition: all .5s;
  &.rs-connect-fb {
    background: #3a5897;
    &:hover {
      background: darken(#3a5897, 10%);
    }
  }
  &.rs-connect-tw {
    background: #00acec;
    &:hover {
      background: darken(#00acec, 10%);
    }
  }
}

// Activities Vote
#vote-activities {
  .slider-activities {
    .slick-list {
      padding-top: 50px;
      .slick-track {
        color: $quaternary-color;
        .slick-slide {
          background: $secondary-color-light;
          border-top: none;
          border: 3px solid transparent;
          border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
          border-image-slice: 1;
          padding: 30px 15px;
          margin: 0;
        }
      }
    }
    .slick-dots {
      margin: 0;
      margin-left: -15px;
      padding: 0 15px;
      width: 100%;
      position: absolute;
      top: 0;
      display: block;
      li {
        width: 25%;
        display: inline-block;
        button {
          width: 100%;
          padding: 15px;
          border: initial;
          background: $quaternary-color;
        }
        &.slick-active {
          button {
            background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
            &:hover,
            &:focus {
              background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
            }
          }
        }
        &:hover,
        &:focus {
          button {
            transition: all .3s;
            background: $tertiary-color-dark;
          }
        }
      }
    }
  }
}


// Other styles
.btn-activities {
  display: block;
  padding: 15px 0;
  border: initial;
  border-radius: initial;
  background: none;
  &:hover,
  &.btn-success {
    color: black;
    background-color: #F1F1F1;
  }
  &.active-nok {
    background-color: none;
    color: black;
  }
}