// Index 1 Concept
#homepage-landing {
  .right-column {
    p {
      line-height: 2;
    }
  }
}

#homepage-live {
  padding-top: 0;
}

// Register form RS Connect
.rs-connect {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  transition: all .5s;
  &.rs-connect-fb {
    background: #3a5897;
    &:hover {
      background: darken(#3a5897, 10%);
    }
  }
  &.rs-connect-tw {
    background: #00acec;
    &:hover {
      background: darken(#00acec, 10%);
    }
  }
}

// Activities Vote
#vote-activities {
  h1 {
    margin-bottom: 2em;
    img {
      width: 80%;
    }
  }
  .slider-activities {
    .slick-list {
      padding-top: 50px;
      .slick-track {
        color: $quaternary-color;
        .slick-slide {
          background: $secondary-color-light;
          border-top: none;
          border: 3px solid transparent;
          border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
          border-image-slice: 1;
          padding: 30px 15px;
          margin: 0;
          button {
            border: none;
            width: 10rem;
            height: 10rem;
            font-size: 6rem;
            background: none;
            color: $tertiary-color-light;
            transform: scale(.8);
            transition: all .3s;
            &:last-of-type {
              transform: rotate(180deg) scale(.8);
            }
            &:hover,
            &:focus {
              color: $primary-color;
              transform: scale(1);
              &:last-of-type {
                transform: rotate(180deg) scale(1);
              }
            }
          }
        }
      }
    }
    .slick-dots {
      margin: 0;
      margin-left: -15px;
      padding: 0 15px;
      width: 100%;
      position: absolute;
      top: 0;
      display: block;
      li {
        width: 25%;
        display: inline-block;
        button {
          width: 100%;
          padding: 15px;
          border: initial;
          background: $quaternary-color;
        }
        &.slick-active {
          button {
            background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
            &:hover,
            &:focus {
              background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
            }
          }
        }
        &:hover,
        &:focus {
          button {
            transition: all .3s;
            background: $tertiary-color-dark;
          }
        }
      }
    }
  }
}

#participe {
  padding-top: 0;
  img {
    width: 100%;
  }
}

#candidates {
  .name {
    font-size: 0;
    transition: all ease .2s;
    opacity: 0;
    &.first {
      font-family: $opensans-regular;
      color: $secondary-color-dark;
      text-transform: capitalize;
    }
    &.last {
      font-family: $opensans-bold;
      color: $quaternary-color;
      text-transform: uppercase;
    }
  }
  padding: 0;
  padding-bottom: 5em;
  img {
    width: 100%;
  }
  .no-padding {
    padding: 0;
  }
  .list-candidates {
    padding: 0 30px;
    .overflow-hidden {
      overflow: hidden;
    }
    figure {
      padding: 0;
      cursor: pointer;
      border: 1px solid transparent;
      overflow: hidden;
      position: relative;
      &.img-small-left {
        padding-left: 0;
      }
      &.img-small-right {
        padding-right: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        text-align: center;
        position: absolute;
        bottom: 2em;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover,
      &:focus {
        .name {
          opacity: 1;
          font-size: 2.571rem;
        }
        &:before {
          content: '';
          background: url('../img/background-hover.png') center center / cover;
          position: absolute;
          animation: SmoothOver .3s linear;
          padding-right: 15px;
          width: 100%;
          height: 100%;
        }
      }
      @keyframes SmoothOver {
        0% {
          bottom: -100%
        }
        100% {
          bottom: 0
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #vote-activities {
    h1 {
      img {
        width: initial;
      }
    }
  }
  #candidates,
  #participe {
    img {
      width: initial;
    }
  }
}

// Other styles
.btn-activities {
  display: block;
  padding: 15px 0;
  border: initial;
  border-radius: initial;
  background: none;
  &:hover,
  &.btn-success {
    color: black;
    background-color: #F1F1F1;
  }
  &.active-nok {
    background-color: none;
    color: black;
  }
}