// Index 1 Concept
#homepage-landing {
  .right-column {
    p {
      line-height: 2;
    }
  }
}

#homepage-live {
  padding-top: 0;
}

#homepage-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  #player-youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    animation: SmoothClick .75s linear;
  }
}

@keyframes SmoothClick {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

// Profil Candidat

#candidats {
  .left-column {
    background-image: url('../img/background-opacity.png'), url('../img/avatar/1.jpg');
    background-position: center center, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    img {
        width: 70%;
        height: auto;
        border: 1em solid $primary-color;
        border-radius: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 3em;
    }
    figcaption {
      position: relative;
      bottom: -5em;
      text-align: center;
    }
    .name {
      font-size: 2rem;
      transition: all ease .2s;
      &.first {
        font-family: $opensans-regular;
        color: $secondary-color-dark;
        text-transform: capitalize;
      }
      &.last {
        font-family: $opensans-bold;
        color: $primary-color;
        text-transform: uppercase;
      }
    }
  }
  .right-column {
    .candidat-profil-description-top {
      background: $secondary-color-dark;
      padding: 40px;
      box-shadow: inset 0px -40px 78px -7px rgba(0,0,0,0.2);
      color: $tertiary-color-dark;
      a {
        text-decoration: none;
      }
      .icon-heart-like {
        color: $primary-color;
        font-size: 3.7rem;
        cursor: pointer;
        &:hover,
        &:focus {
          transition: all .3s;
        }
      }
      .like-me-a-lot {
        padding-left: 1em;
        bottom: 10px;
        position: relative;
        font-size: 2rem;
        font-family: $montserrat-regular;
        transition: all .3s;
      }
      .age {
        font-family: $montserrat-bold;
        position: relative;
        bottom: 10px;
        padding: 0 25px;
        font-size: 2.5rem;
        margin: 0 .5em;
        span:last-of-type {
          font-size: 2rem;
          font-family: $montserrat-regular;
        }
      }
      .country, .astro {
        position: relative;
        bottom: 10px;
        font-size: 3rem;
        font-family: $montserrat-regular;
        margin: 0 .5em;
        span:last-of-type {
          font-size: 2rem;
          padding-left: 25px;
        }
      }
      .icon-facebook,
      .icon-twitter,
      .icon-youtube,
      .icon-instagram {
        position: relative;
        top: 10px;
        color: $secondary-color-light;
        font-size: 3rem;
        padding: .2em;
        border-radius: 50%;
        margin: 5px;
      }
      .icon-facebook {
        margin-left: 3.5em;
        background: #3a5897;
        &:hover,
        &:focus {
          background: darken(#3a5897, 5%);
        }
      }
      .icon-twitter {
        background: #00abed;
        &:hover,
        &:focus {
          background: darken(#00abed, 5%);
        }
      }
      .icon-youtube {
        background: #c6312c;
        &:hover,
        &:focus {
          background: darken(#c6312c, 5%);
        }
      }
      .icon-instagram {
        background: #000000;
        &:hover,
        &:focus {
          background: lighten(#000000, 5%);
        }
      }
    }
    .candidat-profil-description-bottom {
      background: $secondary-color-light;
      padding: 40px;
      color: $tertiary-color-dark;
    }
  }
}

// Register form RS Connect
.rs-connect {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  transition: all .5s;
  &.rs-connect-fb {
    background: #3a5897;
    &:hover {
      background: darken(#3a5897, 10%);
    }
  }
  &.rs-connect-tw {
    background: #00acec;
    &:hover {
      background: darken(#00acec, 10%);
    }
  }
}

// Activities Vote
#vote-activities {
  h1 {
    margin-bottom: 2em;
    img {
      width: 80%;
    }
  }
  .slider-activities {
    .slick-list {
      padding-top: 50px;
      .slick-track {
        color: $quaternary-color;
        .slick-slide {
          background: $secondary-color-light;
          border-top: none;
          border: 3px solid transparent;
          border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
          border-image-slice: 1;
          padding: 30px 15px;
          margin: 0;
          button {
            border: none;
            width: 10rem;
            height: 10rem;
            font-size: 6rem;
            background: none;
            color: $tertiary-color-light;
            transform: scale(.8);
            transition: all .3s;
            &:last-of-type {
              transform: rotate(180deg) scale(.8);
            }
            &:hover,
            &:focus {
              color: $primary-color;
              transform: scale(1);
              &:last-of-type {
                transform: rotate(180deg) scale(1);
              }
            }
          }
        }
      }
    }
    .slick-dots {
      margin: 0;
      margin-left: -15px;
      padding: 0 15px;
      width: 100%;
      position: absolute;
      top: 0;
      display: block;
      li {
        width: 25%;
        display: inline-block;
        button {
          width: 100%;
          padding: 15px;
          border: initial;
          background: $quaternary-color;
        }
        &.slick-active {
          button {
            background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
            &:hover,
            &:focus {
              background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
            }
          }
        }
        &:hover,
        &:focus {
          button {
            transition: all .3s;
            background: $tertiary-color-dark;
          }
        }
      }
    }
  }
}

#participe {
  padding-top: 0;
  img {
    width: 100%;
  }
}

#candidates {
  .name {
    font-size: 0;
    transition: all ease .2s;
    opacity: 0;
    &.first {
      font-family: $opensans-regular;
      color: $secondary-color-dark;
      text-transform: capitalize;
    }
    &.last {
      font-family: $opensans-bold;
      color: $quaternary-color;
      text-transform: uppercase;
    }
  }
  padding: 0;
  padding-bottom: 5em;
  img {
    width: 100%;
  }
  .no-padding {
    padding: 0;
  }
  .list-candidates {
    padding: 0 30px;
    .overflow-hidden {
      overflow: hidden;
    }
    figure {
      padding: 0;
      cursor: pointer;
      border: 1px solid transparent;
      overflow: hidden;
      position: relative;
      &.img-small-left {
        padding-left: 0;
      }
      &.img-small-right {
        padding-right: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        text-align: center;
        position: absolute;
        bottom: 2em;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover,
      &:focus {
        .name {
          opacity: 1;
          font-size: 2.571rem;
        }
        &:before {
          content: '';
          background: url('../img/background-hover.png') center center / cover;
          position: absolute;
          animation: SmoothOver .3s linear;
          padding-right: 15px;
          width: 100%;
          height: 100%;
        }
      }
      @keyframes SmoothOver {
        0% {
          bottom: -100%
        }
        100% {
          bottom: 0
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #vote-activities {
    h1 {
      img {
        width: initial;
      }
    }
  }
  #candidates,
  #participe {
    img {
      width: initial;
    }
  }
}

// Other styles
.btn-activities {
  display: block;
  padding: 15px 0;
  border: initial;
  border-radius: initial;
  background: none;
  &:hover,
  &.btn-success {
    color: black;
    background-color: #F1F1F1;
  }
  &.active-nok {
    background-color: none;
    color: black;
  }
}