// Index 1 Concept
#homepage-landing {
  .right-column {
    p {
      line-height: 2;
    }
  }
}

@media (min-width: $screen-sm-min) {
  #homepage-landing {
    .right-column {
      //padding-top: 5em;
    }
  }
}

@media (min-width: $screen-md-min) {
  #homepage-landing {
    .right-column {
      //padding: 0;
      //padding-top: 9em;
    }
  }
}

// Other styles
.btn-activities {
  display: block;
  padding: 15px 0;
  border: initial;
  border-radius: initial;
  background: none;
  &:hover,
  &.btn-success {
    color: black;
    background-color: #F1F1F1;
  }
  &.active-nok {
    background-color: none;
    color: black;
  }
}

#vote-activities {
  background: #ffffff;
  padding: 50px 0;
  .slider-activities {
    .slick-list {
      .slick-track {
        background: #F0F0F0;
        .slick-slide {
          padding: 30px 0;
        }
      }
      padding-top: 50px;
    }
    .slick-dots {
      padding-left: 0;
      width: 100%;
      position: absolute;
      top: 0;
      display: block;
      li {
        width: 25%;
        display: inline-block;
        button {
          width: 100%;
          padding: 15px;
          border: initial;
          background: none;
        }
        &.slick-active,
        &:hover,
        &:focus {
          button {
            background: #F0F0F0;
          }
        }
      }
    }
  }
}

#candidates,
#replay-playlist {
  padding-top: 50px;
  padding-bottom: 50px;
}

#replay-playlist {
  background: #F1F1F1;
}