@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf?mu5ike') format('truetype'),
         url('../fonts/icomoon.woff?mu5ike') format('woff');
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  //margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  &:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
  }
  &:before {
    font-family: 'icomoon';
    speak: none;
    font-size: 5rem;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
}

.icon-twitter:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}

/*@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham-condensed-medium-webfont.woff') format('woff'),
         url('../fonts/gotham-condensed-medium-webfont.ttf') format('truetype');
}*/