footer {
  //border-top: 1px solid $quaternary-color;
  padding: 25px 0;
  color: $secondary-color-dark;
  background: $primary-color;
  a {
    color: $secondary-color-dark;
    &:hover,
    &:focus {
      color: $quinary-color;
      text-decoration: none;
    }
  }
}

.contact-us {
  text-align: right;
  /*position: absolute;
  right: 15px;
  top: -9px;*/
  a {
    //line-height: 1;
  }
  .icon {
    color: $primary-color;
    box-shadow: 0 0 0 3px $secondary-color-dark;
    transition: color 0.3s;
    &:after {
      top: -2px;
      left: -2px;
      padding: 2px;
      z-index: -1;
      background: $secondary-color-dark;
      transition: transform 0.2s, opacity 0.2s;
    }
    &:hover,
    &:focus {
      color: $primary-color;
      &:after {
        transform: scale(0.85);
      }
    }
  }
}

@media (max-width: 767px) {
  .copyright {
    text-align: center;
    display: block;
  }
  .contact-us {
    display: block;
    text-align: center;
    float: none;
    margin: 15px 0;
    a {
      margin: 10px;
    }
  }
}