footer {
  //border-top: 1px solid $quaternary-color;
  padding: 25px 0;
  color: $secondary-color-dark;
  background: $primary-color;
  a {
    color: $secondary-color-dark;
    &:hover,
    &:focus {
      color: $quinary-color;
      text-decoration: none;
    }
  }
}

.contact-us {
  text-align: right;
  a {
    margin-left: 10px;
    display: inline-block;
    font-size: 3.571rem
  }
}

@media (max-width: 767px) {
  .copyright {
    text-align: center;
    display: block;
}
  .contact-us {
    display: block;
    text-align: center;
    float: none;
    margin: 15px 0;
    a {
      margin: 10px;
    }
  }
}