#connexion,
#register,
#participe-form {
  input[type="submit"] {
    margin: 1em;
  }
  .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  .input__field {
    &[type="file"] {
      padding: 3em 1em 1.7em;
    }
    position: relative;
    display: block;
    float: right;
    padding: 1.7em 1em;
    margin-top: 1em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: $secondary-color-light;
    font-family: $opensans-regular;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
    &:focus {
      outline: none;
    }
  }
  .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 100%;
    height: calc(100% - 1.5em);
    color: $secondary-color-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    pointer-events: none;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 10px);
      border-bottom: 1px solid $tertiary-color-light;
    }
    &:after {
      border-bottom: 4px solid transparent;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.3s;
      border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
      border-image-slice: 1;
    }
  }
  .input__label-content {
    position: absolute;
    display: block;
    padding: 1.6em 0;
    width: 100%;
  }
  .input__field:focus + .input__label::after,
  .input--filled .input__label::after {
    transform: translate3d(0, 0, 0);
  }
  .input__field:focus + .input__label .input__label-content,
  .input--filled .input__label-content {
    animation: animInput 0.3s forwards;
  }
  @keyframes animInput {
    50% {
      opacity: 0;
      transform: translate3d(1em, 0, 0);
    }
    51% {
      opacity: 0;
      transform: translate3d(-1em, -40%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, -40%, 0);
    }
  }
}