html,
body {
  height: 100%;
  background: $bg-content-color url('../img/background.jpg') no-repeat center top;
  color: $secondary-color-dark;
  font-family: $opensans-regular;
}

body {
  min-height: 100%;
}

main {
  padding: 1em 15px;
}

section {
  margin: 3em auto;
}

a {
  font-family: $montserrat-regular;
  color: $primary-color;
  transition: all .2s ease-in;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}

img.w100 {
  width: 100%;
  height: auto;
}

p {
  margin: 1em 0 2em;
  &.link-initial {
    a {
      text-transform: none;
      text-decoration: underline;
      color: $secondary-color-light;
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
    color: $tertiary-color-light;
  }
}

.title-next {
  font-size: 1.857rem;
  font-family: $montserrat-regular;
  display: inline-block;
  margin: -2em 0 2em;
}

/*********** Buttons ***********/

.btn {
  padding: 1em 3em;
  border-style: solid;
  border-width: 1px;
  font-family: $montserrat-bold;
  border-radius: 100em;
  font-size: $font-size-btn;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease-in;
  &:hover {
    text-decoration: none;
  }
}

.btn-default {
  border-color: $secondary-color-light;
  background: none;
  color: $secondary-color-light;
  &:hover,
  &:focus {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.btn-white {
  border-color: $secondary-color-light;
  background-color: $secondary-color-light;
  color: $quaternary-color;
  &:hover,
  &:focus {
    color: $quaternary-color;
  }
}

.btn-dark {
  border: none;
  background-color: $quaternary-color;
  color: $primary-color;
  &:hover,
  &:focus {
    color: $secondary-color-light;
  }
}

.btn-gold {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $secondary-color-light;
  &:hover,
  &:focus {
    color: $secondary-color-light;
  }
}

.btn-shine {
  border-color: $secondary-color-light;
  background: none;
  color: $secondary-color-light;
  position: relative;
  &:after {
    content: '';
    width: 59px;
    height: 83px;
    background: url('../img/bling.png') center center / cover;
    display: inline-block;
    position: absolute;
    top: -34px;
    right: -21px;
    opacity: 0;
    transform: scale(0) rotate(0deg);
    transition: all ease .25s;
  }
  &:hover,
  &:focus {
    background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
    background-size: 100% 1000%;
    animation: Shine .75s linear;
    color: $secondary-color-light;
    background-position: 0% -75%;
    border: none;
    &:after {
      opacity: 1;
      transition: all ease .5s;
      transform: scale(1) rotate(360deg);
    }
  }
  @keyframes Shine {
    0% {
      background-position: 0% 100%
    }
    25% {
      background-position: 0% 0%
    }
    50% {
      background-position: 0% -75%;
    }
  }
}

// Other
.text-center {
  text-align: center;
}

.add-border-before {
  &:before {
    content: '';
    position: relative;
    display: block;
    background: $secondary-color-dark;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 47px;
    height: 3px;
  }
  &.border-light {
    &:before {
      height: 1px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
}

.bold {
  font-family: $montserrat-bold;
  font-size: 1.2rem;
}

.add-arrow-after {
  &:after {
    content: '';
    position: relative;
    display: inline-block;
    margin-left: 20px;
    background: url('../img/spritesheet.png') no-repeat -166px -5px;
    width: 8px;
    height: 12px;
  }
}

@media (min-width: $screen-md-min) {
  main {
    padding: 5em 15px;
  }
}