.navbar {
  background: none;
  position: relative;
  .navbar-brand {
    height: auto;
    margin-top: 23px;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-nav {
    li {
      font-family: $montserrat-regular;
      text-transform: uppercase;
      &:last-of-type {
        font-family: $montserrat-bold;
      }
      a {
        background: none;
        color: $secondary-color-light;
        padding: 15px 20px;
        &:hover,
        &:focus,
        &.active {
          background: none;
          color: $primary-color;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: $primary-color;
    padding: 14px 10px;
    border-radius: 100%;
    position: absolute;
    margin: 26px 0;
    right: 15px;
    .icon-bar {
      background: $primary-color;
    }
  }
}

#login-pop-in {
  display: none;
  visibility: hidden;
  position: absolute;
  .form-control {
    &:focus {
      border: none;
      box-shadow: none;
      outline: initial;
    }
  }
  a {
    float: right;
    color: $secondary-color-light;
    font-size: 80%;
    margin: -1em 0 1em;
  }
}

/*.shape {
  display: none;
  z-index: 10;
  position: absolute;
  top: 100px;
  right: 41px;
  width: 17px;
  height: 17px;
  transform: rotate(45deg);
  background: linear-gradient(120deg, #ab8b00, #bc9901 100%);
  border: 1px solid transparent;
  border-image: linear-gradient(120deg, #a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
  border-image-slice: 1;
  content: '';
}*/

@media (min-width: $screen-sm-min) {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    .navbar-collapse {
      display: block;
    }
    .navbar-nav {
      height: 96px;
      li {
        margin-top: 23px;
      }
      &.navbar-center {
        li {
          position: relative;
          &:not(:last-child) {
            &:after {
              content: '';
              background: url('../img/spritesheet.png') no-repeat -56px -5px;
              position: absolute;
              width: 4px;
              height: 4px;
              display: block;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
            }
          }
        }
      }
      &.navbar-right {
        li {
          &:last-of-type {
            border-left: 1px solid $quaternary-color;
            a {
              padding-right: 75px;
              padding-left: 35px;
              position: relative;
              &:after {
                content: '';
                display: block;
                position: absolute;
                width: 41px;
                height: 41px;
                top: 5px;
                right: 15px;
                background: url('../img/spritesheet.png') no-repeat -5px -5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .navbar {
    .navbar-nav {
      &.navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  #login-pop-in {
    visibility: visible;
    padding: 20px 30px 20px 20px;
    top: 96px;
    z-index: 100;
    right: 30px;
    background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
    text-align: right;
    font-family: $montserrat-regular;
    border: 1px solid transparent;
    border-image: linear-gradient(#a88800, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);
    border-image-slice: 1;
    label {
      display: none;
    }
  }
}