/*header {
  margin-top: 50px;
  position: relative;
  z-index: 100;
  h1 {
    margin-top: 0;
  }
}*/

.navbar {
    margin-top: 1em;
}
.navbar-header {
    h1 {
        a {
            font-size: $font-size-h1;
        }
    }
}

.navbar-nav {
    margin-top: 1.5em;
}