/*header {
  margin-top: 50px;
  position: relative;
  z-index: 100;
  h1 {
    margin-top: 0;
  }
}*/

.navbar {
  margin-bottom: 0;
}

.navbar-header {
    h1 {
        a {
            font-size: $font-size-h1;
        }
    }
}

.navbar-nav {
    margin-top: 1.5em;
    .active {
        a {
            background-color: lighten($secondary-color, 70%);
            color: $tertiary-color;
            &:hover,
            &:focus {
                background-color: lighten($secondary-color, 70%);
                color: $tertiary-color;
            }
        }
    }
}