#block-player {
  height: 100%;
  width: 100%;
  margin-top: -52px;
  padding-top: 52px;
  #player-youtube {
    width: 70%;
    float: left;
    height: 100%;
  }
  #aside-player {
    min-height: 100%;
    width: 30%;
    float: left;
    position: relative;
    .slide-candidates {
      .candidate {
        img {
          border: 4px solid $primary-color;
          border-radius: 50%;
        }
        margin: 1em auto;
        border-bottom: 1px solid $secondary-color-dark;
        a {
          span {
            text-transform: capitalize;
            color: $tertiary-color-dark;
          }
        }
        .like-me-a-lot {
          padding-left: 35px;
          position: relative;
          font-size: 1.5rem;
          color: $tertiary-color-dark;
          font-family: $montserrat-regular;
          transition: all .3s;
          &:before {
            position: absolute;
            left: 0;
            content: '';
            background: url(../img/like.png) no-repeat center center / cover;
            width: 28px;
            height: 25px;
          }
          &:hover {
            &:before {
              transform: scale(1.2);
            }
          }
        }
        .share-me-a-lot {
          font-size: 0;
          position: relative;
          content: '';
          position: absolute;
          background: url('../img/share.png');
          height: 24px;
          width: 18px;
          margin-left: 30px;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .king-of-fame {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 34%;
          width: 28px;
          height: 21px;
          background: url('../img/king-of-fame.png');
        }
      }
    }
    .slider-live-tweet-candidates {
      background: $secondary-color-light;
      .slick-list {
        padding-top: 50px;
      }
      .slick-dots {
        margin: 0;
        padding-left: 0;
        width: 100%;
        position: absolute;
        top: 0;
        display: block;
        li {
          width: 50%;
          display: inline-block;
          button {
            width: 100%;
            padding: 15px;
            border: initial;
            background: $quaternary-color;
            &:hover,
            &:focus {
              background: $tertiary-color-dark;
            }
          }
          &.slick-active {
            button {
              background: linear-gradient(120deg, #d1aa03, #a88800 14%, #d1aa03 26%, #ffeb94 42%, #d1aa03 51%, #a88800 65%, #d1aa03);;
            }
          }
        }
      }
      .slide-twitter-timeline {
        iframe {
          height: 100% !important;
          width: 100% !important;
          .timeline-Footer {
            display: none !important;
          }
        }
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}