#block-player {
  height: 100%;
  width: 100%;
  margin-top: -52px;
  padding-top: 52px;
  #player-youtube {
    width: 70%;
    float: left;
    height: 100%;
  }
  #aside-player {
    min-height: 100%;
    width: 30%;
    float: left;
    position: relative;
    .slider-live-tweet-candidates {
      .slick-list {
        padding-top: 50px;
      }
      .slick-dots {
        padding-left: 0;
        width: 100%;
        position: absolute;
        top: 0;
        display: block;
        li {
          width: 50%;
          display: inline-block;
          button {
            width: 100%;
            padding: 15px;
            border: initial;
            background: none;
          }
          &.slick-active,
          &:hover,
          &:focus {
            button {
              background: yellow;
            }
          }
        }
      }
      .slide-twitter-timeline {
        iframe {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
    /*iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }*/
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

video {
  background: $quaternary-color;
}