$bg-color: #000000;

$primary-color: #a08308; // color title h1
$secondary-color: #f1f2f2; // color paragraphe + h2

// Buttons
$btn-bg-color: #ffffff;
$btn-txt-color: $primary-color;

// Fonts
$fonts-defaults: Helvetica, Arial, sans-serif;