// Variables & Typos
@import 'variables';
@import 'fonts';

// Generic
@import 'generic';

// Content
@import 'header';
@import 'content';
@import 'player';
@import 'form';
@import 'footer';

// Page 404
@import '404';