
/****** TYPO ******/


/******* BALISE ******/

html, body{
	background-color: #000;
	font-family: Arial;
}

h1{
	color: #a08308;
	font-family:'Guld', Helvetica, Arial, sans-serif;
	
}

h2, h4, p{
	color: #fff;
	padding-top :5px;
}

h2{
	padding-top:15%;
}

h4{
	padding-bottom:35%;
}

a{
	color: #a08308;
	text-decoration :none;
	
}

/******* HEADER *******/
.connect{
	background-color:#a08308;
	color: #000;
}

header{
	border-bottom : 0.75px solid #fff; 

}

   /** NAVIGATION **/

ul {
	list-style-type:none;
}

li {
	margin-left: 2px;
	float :left;
}   

ul li a {
	display: block;
	float:right;
	text-align :center;
	padding :12px;
}
	
ul li a:hover{
	background-color : #a08308;
	color :#fff;
}	

nav li:last-child{
	background-color:#fff;
}

nav li:last-child a {
	color :#a08308; 
}

nav li:last-child a:hover {
	color :#fff;
background-color: #a08308;	
}

nav{
	margin-top: 48px;
	margin-bottom : 10px;
} 

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
	background-color: #000;
}
   
/******* BODY *********/

.img{
	margin-top:5%;
}

.intro-section{
	height:100%;
	padding-top:150px;
}

/******* FOOTER *******/
footer{
	font-size:78%;
	margin-bottom:10px
}
.row{
	border-bottom : 0.25px solid #fff;
	margin-bottom :20px;


}
.copyright, .contact{
	color: #fff;
}

.RS{
	width:15px;
}
