@font-face {
    font-family: 'Guld';
    src: url('../fonts/guldscript-webfont.woff') format('woff'),
         url('../fonts/guldscript-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype');
}