input[type="submit"] {
  width: 197px;
  height: 50px;
  background-color: $btn-bg-color;
  color: $btn-txt-color;
  border-radius: 50px;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

#mc_embed_signup {
  div.mce_inline_error {
    margin-top: 15px !important;
    background-color: $primary-color !important;
  }
}
#mc-embedded-subscribe-form {
  margin-top: 30px;
}

.mc-field-group input {
  border: none;
  border-bottom: 1px solid $primary-color;
  background: none !important;
  width: 250px;
  color: $secondary-color;
  font-family: "Montserrat Light", $fonts-defaults;
  padding: .5em 1em;
  &:focus {
    color: $secondary-color;
  }
}

.mc-field-group label {
  display: none;
}