html {
  background: $bg-color;
  height: 100%;
}

body {
  background: url('../img/bg.png') no-repeat center center / cover;
  min-height: 100%;
}

h1 {
  font-size: 35px;
  font-family: "Gotham Bold", $fonts-defaults;
  color: $secondary-color;
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
  transform-origin: center;
  transform: rotate(-5deg);
  span {
    text-transform: uppercase;
    color: $tertiary-color;
    font-size: 50px;
    top: 9px;
    position: relative;
    text-decoration: underline;
  }
}

a {
  color: $primary-color;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}

img {
  width: 100%;
  height: auto;
}

p {
  color: $secondary-color;
  font-size: 14px;
  font-family: "Montserrat Light", $fonts-defaults;
  text-align: center;
}