/*$icon-font-path: '../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';*/

$bg-color: #a08308;

$primary-color: #a08308; // color title h1
$secondary-color: #ffffff; // color paragraphe + h2
$tertiary-color: #000000; // color title

// Buttons
$btn-bg-color: #ffffff;
$btn-txt-color: $primary-color;

// Fonts
$fonts-defaults: Helvetica, Arial, sans-serif;