<?php

namespace App;

class Creds {
	public function getBasePath() {
		return '/iesa_views/www';
	}

	public function getApiUrl() {
		return 'http://localhost';
	}

	public function getApiPort() {
		return 8080;
	}
}
