<?php

namespace App;

/**
 * @author Vincent Rasquier
 * Generic class of credentials
 * Following values are only for test,
 * not available on production
 */
class Creds {
	private $basePath;
	private $apiUrl;
	private $apiPort;
	private $admin;
	private $apiEntry;

	public function __construct() 
	{
		$this->basePath = '/';
		$this->apiUrl = 'http://localhost';
		$this->apiPort = ':3000';
		$this->admin = array("username" => "root", "password" => "secret");
		$this->apiEntry = "/api/1/";
	}

	public function getBasePath() 
	{
		return $this->basePath;
	}

	public function getApiUrl() 
	{
		return $this->apiUrl;
	}

	public function getApiPort() 
	{
		return $this->apiPort;
	}

	public function getAdmin() 
	{
		return $this->admin;
	}

	public function getApiEntry() 
	{
		return $this->apiEntry;
	}
}
